.user-avatar{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-left: 2em;
    /* margin-top: 1.5em; */
}

.user-gist-details{
    display: flex;
    flex-direction: row;
    height: 8em;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(250,251,252);
    width:100vw;
    border-bottom: 0.5px solid rgb(225,228,232);
}
.use-details{
    display: flex;
    flex-direction: row;
    width: 250px; 
}

.gists-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 250px;
        color: rgb(13,102,214);
        font-weight: 600;
        vertical-align:baseline;
        text-align: start;
        margin-left: 1em;
        width: 60vw;
        font-family :-apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.Main-content{
    display: flex;
    flex-direction: column;
}
.text-area-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    
}

.links-sets{
    margin-left: 2em;
    text-decoration: none;
}

.links-sets:hover{
    border-bottom: 2px solid tomato;
    text-decoration: none;
}

.users-details{
    display: flex;
    flex-direction: column;
}
.switch-links{
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    justify-content: baseline;
}

.Contents-a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 65vw;
    border-radius: 10px;
    border: 1px solid rgb(221,221,221);
}